<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2"
       id="m_login"
       style="background-image: url(assets/img/bg/bg-3.jpg);">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
      <div class="m-login__container">
        <div class="m-login__logo">
          <a href="javascript:">
            <img src="assets/icons/favicon-96x96.png">
          </a>
        </div>
        <div class="m-login__signin">
          <div class="m-login__head">
            <h3 class="m-login__title">
              {{'signin.title'|translate}}
            </h3>
          </div>
          <form (ngSubmit)="signin()"
                [formGroup]="signinForm"
                class="m-login__form m-form"
                action="">
            <div class="form-group m-form__group"
                 [ngClass]="{'has-danger': isFieldInvalid('email')}">
              <input class="form-control m-input"
                     type="text"
                     placeholder="{{'signin.email'|translate}}"
                     name="email"
                     formControlName="email"
                     autocomplete="off">
              <app-error-messages id="email-error"
                                  [control]="signinForm.get('email')"
                                  [errors]="{
                                           'required': translateService.instant('general.required'),
                                           'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('email')}),
                                           'email': translateService.instant('general.email')
                                         }">
              </app-error-messages>
            </div>
            <div class="form-group m-form__group"
                 [ngClass]="{'has-danger': isFieldInvalid('password')}">
              <input class="form-control m-input m-login__form-input--last"
                     type="password"
                     placeholder="{{'signin.password'|translate}}"
                     name="password"
                     formControlName="password">
              <app-error-messages id="password-error"
                                  [control]="signinForm.get('password')"
                                  [errors]="{
                                            'required': translateService.instant('general.required'),
                                            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('password')})
                                          }">
              </app-error-messages>
            </div>
            <div class="row m-login__form-sub">
              <div class="col m--align-left m-login__form-left">
                <label class="m-checkbox  m-checkbox--focus">
                  <input type="checkbox" name="remember">
                  {{'signin.remember_me'|translate}}
                  <span></span>
                </label>
              </div>
              <div class="col m--align-right m-login__form-right">
                <a href="javascript:;"
                   id="m_login_forget_password"
                   class="m-link">
                   {{'signin.forget_password'|translate}} ?
                </a>
              </div>
            </div>
            <div class="m-login__form-action">
              <button id="m_login_signin_submit"
                      class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                      {{'signin.login'|translate}}
              </button>
            </div>
          </form>
        </div>
        <div class="m-login__account">
          <span class="m-login__account-msg">
            {{'signin.has_account'|translate}} ?
          </span> &nbsp;&nbsp;
          <a id="m_login_signup"
             class="m-link m-link--focus m-login__account-link"
             [routerLink]="['/signup']">
            {{'signin.signup'|translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
