<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
     id="m_login">
  <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
    <div class="m-stack m-stack--hor m-stack--desktop">
      <div class="m-stack__item m-stack__item--fluid m-login__wrapper">
        <div class="m-login__logo">
          <img src="assets/icons/favicon-96x96.png">
        </div>
        <div class="m-login__head">
          <h3 class="m-login__title">
            {{'signup.title'|translate}}
          </h3>
          <div class="m-login__desc">
            {{'signup.create_account_detail'|translate}}
          </div>
        </div>
        <form (ngSubmit)="signup()"
              [formGroup]="signupForm"
              class="m-login__form m-form"
              action="">
          <ng-template #alertSignup></ng-template>
          <div class="form-group m-form__group"
               [ngClass]="{'has-danger': isFieldInvalid('firstname')}">
            <input class="form-control m-input"
                   type="text"
                   placeholder="{{'signup.firstname'|translate}}"
                   name="firstname"
                   formControlName="firstname">
            <app-error-messages id="firstname-error"
                                [control]="signupForm.get('firstname')"
                                [errors]="{
                                            'required': translateService.instant('general.required'),
                                            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('firstname')})
                                          }">
            </app-error-messages>
          </div>
          <div class="form-group m-form__group"
               [ngClass]="{'has-danger': isFieldInvalid('lastname')}">
            <input class="form-control m-input"
                   type="text"
                   placeholder="{{'signup.lastname'|translate}}"
                   name="lastname"
                   formControlName="lastname">
            <app-error-messages id="lastname-error"
                                [control]="signupForm.get('lastname')"
                                [errors]="{
                                            'required': translateService.instant('general.required'),
                                            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('lastname')})
                                          }">
            </app-error-messages>
          </div>
          <div class="form-group m-form__group"
               [ngClass]="{'has-danger': isFieldInvalid('email')}">
            <input class=" form-control m-input"
                   type="email"
                   placeholder="{{'signup.email'|translate}}"
                   name="email"
                   formControlName="email"
                   autocomplete="off">
            <app-error-messages id="email-error"
                                [control]="signupForm.get('email')"
                                [errors]="{
                                            'required': translateService.instant('general.required'),
                                            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('email')}),
                                            'email': translateService.instant('general.email')
                                          }">
            </app-error-messages>
          </div>
          <div class="form-group m-form__group"
               [ngClass]="{ 'has-danger': isFieldInvalid('password')}">
            <input class="form-control m-input"
                   type="password"
                   placeholder="{{'signup.password'|translate}}"
                   name="password"
                   formControlName="password">
            <app-error-messages id="password-error"
                                [control]="signupForm.get('password')"
                                [errors]="{
                                            'required': translateService.instant('general.required'),
                                            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('password')})
                                          }">
            </app-error-messages>
          </div>
          <div class="form-group m-form__group"
               [ngClass]="{'has-danger': isFieldInvalid('rpassword')}">
            <input class="form-control m-input m-login__form-input--last"
                   type="password"
                   placeholder="{{'signup.confirm_password'|translate}}"
                   name="rpassword"
                   formControlName="rpassword">
            <app-error-messages id="rpassword-error"
                                [control]="signupForm.get('rpassword')"
                                [errors]="{
                                            'required': translateService.instant('general.required'),
                                            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('rpassword')}),
                                            'not_match': translateService.instant('general.password_not_match')
                                          }">
            </app-error-messages>
          </div>
          <div class="form-group m-form__group m-login__form-sub"
               [ngClass]="{'has-danger': isFieldInvalid('agreed')}">
            <div class="row">
              <div class="col m--align-left">
                <label class="m-checkbox m-checkbox--focus">
                              <input type="checkbox"
                                    name="agreed"
                                    formControlName="agreed"> {{'signup.agreed'|translate}}
                              <a class="m-link m-link--focus" data-toggle="modal" href="#m_modal_6">
                                {{'signup.terms_and_conditions'|translate}}
                              </a>
                              .
                              <span></span>
                            </label>
                <span class="m-form__help"></span>
              </div>
            </div>
            <div class="row">
              <app-error-messages id="agreed-error"
                                  [ngStyle]="{'padding-left': '1.2em'}"
                                  [control]="signupForm.get('agreed')"
                                  [errors]="{
                                            'not_agreed': translateService.instant('general.not_agreed')
                                          }">
              </app-error-messages>
            </div>
          </div>
          <div class="m-login__form-action">
            <button [disabled]="loading"
                    [ngClass]="{ 'm-loader m-loader--right m-loader--light': loading}"
                    id="m_login_signup_submit"
                    type="submit"
                    class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                            {{'signup.btn_sign'|translate}}
            </button>
            <button [disabled]="loading"
                    id="m_login_signup_cancel"
                    type="button"
                    class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom"
                    [routerLink]="[ '/signin']">
                          {{'signup.btn_cancel'|translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-terms-conditions></app-terms-conditions>
