<mat-card class="example-card">
  <mat-card-title>{{'signup.title'|translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signupForm">
      <mat-form-field class="full-width-input">
        <input id="f-firstname" matInput type="text" placeholder="{{'signup.firstname'|translate}}" name="firstname" formControlName="firstname"
          autocomplete="off">
        <mat-error>
          <app-error-messages id="firstname-error" [control]="signupForm.get('firstname')" [errors]="{
            'required': translateService.instant('general.required'),
            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('firstname')})
          }">
          </app-error-messages>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input id="f-lastname" matInput type="text" placeholder="{{'signup.lastname'|translate}}" name="lastname" formControlName="lastname"
          autocomplete="off">
        <mat-error>
          <app-error-messages id="lastname-error" [control]="signupForm.get('lastname')" [errors]="{
            'required': translateService.instant('general.required'),
            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('lastname')})
          }">
          </app-error-messages>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input id="f-email" matInput type="email" placeholder="{{'signup.email'|translate}}" name="email" formControlName="email"
          autocomplete="off">
        <mat-error>
          <app-error-messages id="email-error" [control]="signupForm.get('email')" [errors]="{
            'required': translateService.instant('general.required'),
            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('email')}),
            'email': translateService.instant('general.email')
          }">
          </app-error-messages>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input id="f-password" matInput type="password" placeholder="{{'signup.password'|translate}}" name="password" formControlName="password"
          autocomplete="off">
        <mat-error>
          <app-error-messages id="password-error" [control]="signupForm.get('password')" [errors]="{
            'required': translateService.instant('general.required'),
            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('password')})
          }">
          </app-error-messages>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input id="f-rpassword" matInput type="password" placeholder="{{'signup.confirm_password'|translate}}" name="rpassword" formControlName="rpassword"
          autocomplete="off">
        <mat-error>
          <app-error-messages id="rpassword-error" [control]="signupForm.get('rpassword')" [errors]="{
            'required': translateService.instant('general.required'),
            'minlength': translateService.instant('general.min_length', {'value':  getMinimumLength('rpassword')}),
            'not_match': translateService.instant('general.password_not_match')
          }">
          </app-error-messages>
        </mat-error>
      </mat-form-field>
      <div class="full-width-checkbox">
        <mat-checkbox id="f-agreed" name="agreed" formControlName="agreed">
          {{'signup.agreed'|translate}}
        </mat-checkbox>
        <button id="btn-signup" mat-icon-button class="terms" (click)="signup()" color="primary">{{'signup.terms_and_conditions'|translate}}.</button>
        <mat-error>
          <app-error-messages id="agreed-error" [ngStyle]="{'padding-left': '1.2em'}" [control]="signupForm.get('agreed')" [errors]="{
                                            'not_agreed': translateService.instant('general.not_agreed')
                                          }">
          </app-error-messages>
        </mat-error>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button id="btn-signup" mat-raised-button (click)="signup()" color="primary">{{'signup.btn_sign'|translate}}</button>
    <button id="btn-signup" mat-icon-button routerLink="/signin">{{'signup.btn_cancel'|translate}}</button>
  </mat-card-actions>
</mat-card>
